# Ignore virtual environment
venv/
.env/

# Byte-compiled / cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE files
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db


vpython_env/
.ipynb_checkpoints/